/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for sections */
body {
    font-family: Arial, sans-serif;
    background-color: #a4b496;
    color: #333;
}

.navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 36px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 30px;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f39c12;
}


/* Hero section styles */
.hero {
    position: relative;
    color: white;
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600%;
    overflow: hidden;
}

.hero-background video {
    width: 100%;
    height: auto;
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 850px;
    margin: 0 auto;
    padding: 150px 20px 100px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 80px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 80px;
}

.cta-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e67e22;
}


/* Feature section styles */
.features {
    padding: 150px 0;
    background-color: #f5f5f5;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    margin-top: 40px;
}

.feature {
    width: 550px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
    margin-bottom: 40px;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.feature p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}



.contact {
    padding: 80px 0;
    background-color: #f5f5f5;
    text-align: center;
}

.contact-form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 40px;
    color: #333;
}

.contact-form input,
.contact-form button {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form button {
    background-color: #f39c12;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #e67e22;
}


/* Follow Us section styles */
.follow-us {
    padding: 200px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

.follow-us-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.follow-us h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.follow-us p {
    font-size: 18px;
    margin-bottom: 40px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-icon:hover img {
    transform: scale(1.2);
}

.footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0;
    background-color: #333;
    color: white;
}


